# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment variables
.env

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Build
dist/
build/

# Local app data
data/
*.db
*.sqlite
*.sqlite3

##snapshots & notes
code_snapshot.txt
some.txt

# Telegram local login sessions
*.session
*.session-journal

